.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    line-height: 1.2em;
}

.reveal .slides {
    max-width: 1050px;
}

.reveal code {
    font-size: 1.2em;
    line-height: 1.3em;
    max-height: none;
}

.bg-hipster body {
    background: url("../images/hipster.png") 50% 50% / 100% auto no-repeat;
}
.bg-hipster2 body {
    background: url("../images/hipster2.png") 50% 50% / 100% auto no-repeat;
}
.cover h2, .cover h4 {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:  0px 0px 16px 0px rgba(0, 0, 0, 0.8);    
    box-shadow:  0px 0px 16px 0px rgba(0, 0, 0, 0.8);
}

.reveal section img {
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

.logos img {
    height: 250px;
}
.logos img#js-logo {
    margin-left: 40px;
}
.logos-smaller img {
    height: 200px;
}

.photos img {
    max-height: 250px;
    max-width: 250px;
    margin: 40px;
}

.logo {
    height: 400px;
}

#sample-deco-container {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    background: #999;
}
#sample-deco {
    height: 200px;
    
    background: #9adeff; /* Old browsers */
    background: -moz-linear-gradient(top, #9adeff 0%, #60bdee 44%, #2062dd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9adeff), color-stop(44%,#60bdee), color-stop(100%,#2062dd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9adeff 0%, #60bdee 44%, #2062dd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9adeff 0%, #60bdee 44%, #2062dd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9adeff 0%, #60bdee 44%, #2062dd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9adeff 0%, #60bdee 44%, #2062dd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9adeff', endColorstr='#2062dd',GradientType=0 ); /* IE6-9 */
    
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.6);    
    box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.6);
}

@font-face {
    font-family: forque;
    src: url('fonts/Forque-webfont.eot');
    src: url('fonts/Forque-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Forque-webfont.woff') format('woff'),
         url('fonts/Forque-webfont.ttf') format('truetype'),
         url('fonts/Forque-webfont.svg#firsttestRegular') format('svg');
}
#sample-font {
    font-family: forque;
}

#sample-anim-container {
    padding: 10px;
    background: #333;
}
#sample-anim {
    position: relative;
    width: 100px;
    height: 98px;
    background: url("../images/adobe-logo.png") 100% 100% no-repeat;
    -webkit-transition: all 1s;
    transition: all 1s;
}
#sample-anim.moved {
    -webkit-transform: translateX(600px) rotateX(60deg);
    transform: translateX(600px) rotateX(60deg);
}

.reveal pre.right {
    float: right;
    width: 500px;
}
.reveal pre.left {
    float: left;
    width: 500px;
}

.reveal .edge-tool {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.reveal code {
    position: relative;
    width: 100%;
}
.reveal code strong, .reveal code strong * {
    color: #f66 !important;
}
.reveal code>div.title {
    position: absolute;
    padding: 4px;
    top: 0;
    right: 0;
    background: #5d5d5d;
    color: #bfbfbf !important;
    font-family: "Source Sans Pro", sans-serif;
}

.frameworks {
    float: left;
    text-align: left;
    padding-right: 100px !important;
}
.frameworks li {    
    display: block;
    list-style-type: none;
}
.features {
    padding-top: 150px !important;
}

table {
    background: #333;
}
table tr {
    background: #666;
}
table td {
    font-size: 32px !important;
    padding: 0 15px 0 15px !important;
    vertical-align: middle !important;
}

.killme {
    text-decoration: line-through;
    color: #999 !important;
}


#brackets {
  margin: 40px auto;
	position: relative;
	box-sizing: border-box;
	width: 234px;
	height: 214px;
	background: #25a5de;
	border-radius: 40px;
	text-indent: -99999px;
	overflow: hidden;
	z-index: -1;
	-webkit-box-shadow: 0px 24px 0px #115a91;
	-moz-box-shadow: 0px 24px 0px #115a91;
	box-shadow: 0px 24px 0px #115a91;
	background: #0173bd; /* Old browsers */
	background: -moz-linear-gradient(top, #29abe2 43%, #0173bd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(43%,#29abe2), color-stop(100%,#0173bd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #29abe2 43%,#0173bd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #29abe2 43%,#0173bd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #29abe2 43%,#0173bd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #29abe2 43%, #0173bd 100%); /* W3C */
}
#brackets:after {
	position: absolute;
	content: " ";
	top: 24px;
	left: 24px;
	right: 24px;
	bottom: 24px;
	background: #fff;
	border-radius: 20px;
	border: 18px solid #fff;
	-webkit-box-shadow: inset 0px 0px 0 29px #4d4d4d;
	-moz-box-shadow: inset 0px 0px 0 29px #4d4d4d;
	box-shadow: inset 0px 0px 0 29px #4d4d4d;
	z-index: 1;
}
#brackets:before {
	position: absolute;
	content: " ";
	top: 30px;
	bottom: 30px;
	left: 50%;
	width: 16px;
	margin: 0 0 0 -8px;
	background: #fff;
	z-index: 2;
}
#image-rvw {
    position: relative;
    max-width: none;
    max-height: none;
}
#image-pbr {
    position: absolute;
    left: 35%;
    top: 50%;
    max-width: none;
    max-height: none;
}
#image-fixie {
    position: absolute;
    left: 40%;
    top: 10%;
    width: 350px;
    max-width: none;
    max-height: none;
}