/*****************************************/
/* Basic slide and text layout overrides */
/*****************************************/

.reveal .slides {
    max-width: 1000px;
    top: 0;
    margin-top: 0;
    padding-top: 0;
}

.reveal a:hover {
    text-decoration: underline;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    padding: 10px;
    background-color: rgba(240, 240, 255, 0.5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.reveal h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.reveal h2 {
    font-size: 1.8em;
}

.reveal li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.punchline {
    font-size: 1.5em;
    font-weight: bold;
    margin: 50px auto;
}

.bug {
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(240, 240, 255, 0.5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    font-size: 0.5em;
    padding: 20px;
}


/*******************/
/* Code appearance */
/*******************/

.reveal pre {
    width: 100%;
    font-size: 0.6em;
}
.reveal code {
    font-family: source-code-pro, monospace;
}

.reveal li code, .reveal p code {
    display: inline-block;
    margin: 6px 0;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.3);
    padding: 6px 10px;
    font-size: 0.9em;
    color: #764113;
    vertical-align: baseline;
    
    /* Needed for FF to properly align the baseline */
    overflow: visible;
}

.reveal code.small {
    font-size: 0.5em;
}
.reveal code .param {
    color: #148329;
}

.platform {
    display: inline-block;
    font-size: 0.4em;
    height: 30px;
    min-width: 30px;
    text-align: center;
    padding: 3px;
    border-radius: 3px;
    background-color: #764113;
    color: #FFF;
    vertical-align: baseline;
}

.dimmer {
    font-size: 1.5em;
}
.dimmed .dim {
    opacity: 0.2;
}

/**************************/
/* Images and backgrounds */
/**************************/

.brackets-logo {
    margin: -30px auto 10px;
    background-image: url(images/branding_512.svg);
    background-size: 100% 100%;
    width: 384px;
    height: 384px;
}

/* Kind of stupid way of doing the crossfades. Should also probably
   be using a CSS filter to dim out the background instead of using
   separate images. */

.slide-bg, .slide-dim-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
.what .slide-bg {
    opacity: 1;
}
.what .slide-bg, .what-bg .slide-bg {
    background-image: url(images/what-now.jpg);
}
.what-bg .slide-dim-bg {
    opacity: 1;
    background-image: url(images/what-now-bg.png);
}
.how-core .slide-bg {
    opacity: 1;
}
.how-core .slide-bg, .how-core-bg .slide-bg {
    background-image: url(images/how-core.jpg);
}
.how-core-bg .slide-dim-bg {
    opacity: 1;
    background-image: url(images/how-core-bg.png);
}
.how-extensions .slide-bg {
    opacity: 1;
}
.how-extensions .slide-bg, .how-extensions-bg .slide-bg {
    background-image: url(images/how-extensions.jpg);
}
.how-extensions-bg .slide-dim-bg {
    opacity: 1;
    background-image: url(images/how-extensions-bg.png);
}

.boxed {
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 200px;
}

.reveal img.plain {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.extension-images {
    margin: 20px auto;
}
.extension-image {
    display: inline-block;
    margin: 0 20px;
}

.reveal div.finale {
    margin: 0 auto;
    padding-top: 300px;
    background-image: url(images/branding_512.svg);
    background-size: 100% 100%;
    width: 384px;
    height: 384px;
    font-size: 1.5em;
}
